<div class='edit-page'>
  {{#with picture}}
    <form action="/gallery/{{id}}/edit" method="POST">
      <label form="author">Author</label>
      <input type="text" name="author" value="{{author}}">

      <label form="link">Image URL</label>
      <input type="text" name="link" value="{{link}}">

      <label form="description">Description</label>
      <input type="text" name="description" value="{{description}}">



      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="SUBMIT">

      <div class="add_meta_field">
        <ul id="meta_fields"></ul>

        <button id="add_meta_field_button" type="button" >Add Meta Data</button>
      </div>

    </form>

  <img src="{{link}}" alt=""><br />
  Author: {{author}}<br />
  Description: {{description}}<br />
  {{/with}}
  Tags: {{metaData.place}}
</div>

<script src="/js/metaFields.js"></script>