<div class="list-page">
{{#each allPhotos}}

  <div class="main-img">
    <img src="{{link}}" alt="">
  </div>
  <p class="author">Author: {{author}}</p>
  <p>Description: {{description}}</p>
    <form action="/gallery/{{id}}" method="POST">
      <label form="delete"></label>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>

    <form action="/gallery/{{id}}" method="POST">
      <label form="delete"></label>
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="Edit">
    </form>

{{/each}}
</div>