<div class="container">
<div class="list-view">
{{#with singlePhoto}}
  <img src="{{link}}" alt="" id="test-img"><BR>
  <p>Author: {{author}}</p>
  <p>Description: {{description}}</p>
    <form action="/gallery/{{id}}" method="POST">
      <label form="delete"></label>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>

    <form action="/gallery/{{id}}" method="POST">
      <label form="delete"></label>
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="Edit">
    </form>

{{/with}}
</div>
</div>